/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
  background-color: #bfbfbf;
}

a:link, a:hover {
  text-decoration: underline;
  color: red;
}

.center {
  text-align: center;
}

.pad-25-top {
  padding-top: 25px;
}

.pad-15-top {
  padding-top: 15px;
}

.pad-10-bottom {
  padding-bottom: 10px;
}

.gutter10 {
  margin: 10px;
}

.course-info {
  background-color: #b1b1cd;
  width: 20rem;
  border: solid 1px #999;
  box-shadow:  0 0 10px  rgba(0,50,0,0.6);
  -moz-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  -webkit-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  -o-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}
